######################################################################
# End Print
######################################################################

[gcode_macro END_PRINT]
gcode:
    # Turn off heaters
    M104 S0                         # Turn off nozzle
    M140 S0                         # Turn off bed
    M106 S0                         # Turn off part cooling fan

    # Lift Z
    G91                             # Relative positioning
    G0 Z10 F1000                    # Lift 10mm first (safer)
    G90                             # Back to absolute

    #G0 Z210 F3000                   # Move Z to 210mm

    # Park X and Y (0, 220)
    G0 X0 Y220 F6000

    # Disable steppers after a short delay
    M84
