######################################################################
# Start Print
######################################################################

[gcode_macro START_PRINT]
gcode:
    # ================== Parameters from Slicer ==================
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    RESPOND TYPE=echo MSG="=== Starting Print Job ==="
    RESPOND TYPE=echo MSG="Bed temperature: {BED_TEMP}°C"
    RESPOND TYPE=echo MSG="Nozzle temperature: {EXTRUDER_TEMP}°C"

    # Step 1: Start heating bed and nozzle
    M140 S{BED_TEMP}                # Set bed temperature (no wait)
    M104 S{EXTRUDER_TEMP}           # Set nozzle temperature (no wait)

    # Step 2: Home all axes
    RESPOND TYPE=echo MSG="Home all axes"
    G28                             # Home X, Y, Z

    
    # Step 3: Perform Z Tilt (gantry squaring)
    #RESPOND TYPE=echo MSG="Squaring Gantry"
    #Z_TILT_ADJUST

    # Return to the safe Z home position
    #{% set safe_z_home_pos = printer.configfile.settings.safe_z_home.home_xy_position %}

    #RESPOND TYPE=echo MSG="Parting at safe Z home position - X={safe_z_home_pos[0]} Y={safe_z_home_pos[1]}"

    #G0 X{safe_pos[0]} Y{safe_pos[1]} F3000

    # Step 4: Wait for temperatures
    RESPOND TYPE=echo MSG="Waiting for heaters"
    M190 S{BED_TEMP}                # Wait for bed
    M109 S{EXTRUDER_TEMP}           # Wait for nozzle

    # Step 5: Home Z again after tilt
    #RESPOND TYPE=echo MSG="Homing Z again"
    #G28 Z

    # Step 6: Bed mesh
    #BED_MESH_CALIBRATE

    # Step 7: Purge stripe
    G92 E0
    G1 X5 Y5 Z0.8 F1800
    G1 X100 Z0.3 E25 F900
    G92 E0
    G1 E-2 F2400
    G1 Z1 F200
